*
{
	marging: 0;
	padding: 0;
	scroll-behavior:smooth ;
	font-family: 'Poppins', sans-serif;
	background-color: #80ced6;
	box-sizing: border-box;
	padding: 10px; 
	box-shadow: wheat; 
	font-color: white;
}
/*scrollbar beautification
 width */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightblue; 
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkblue; 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
--------------------
/* first page of the website */
.home{
	 
    margin: auto;
    min-height: 90%;
    min-width: 90%;
	background-image: url("images/home.jpg");	
	background-repeat: no-repeat; 
    background-size: cover;  /* Scale the background image to fit the section */
	background-image-style: "max-width:auto; height:auto;"
	
}

/* Second page of the website */
.header
{
    min-height: 90%;
	min-width:  90%;
	margin: auto;
	background-position: relative;
	background-image: url("images/flowers.jpeg");
	background-image: linear-gradient(rgba(4, 9, 30, 0.7));
	background-repeat: no-repeat;
    background-size: cover;
 }
/* third display page of website */
.header1
{
    min-height: 90%;
	min-width:  90%;
	margin: auto;
	background-position: relative;
	background-image: url("12.jfif");
	background-image: linear-gradient(rgba(4, 9, 30, 0.7)); /* when not given image not displayed*/
	background-repeat: no-repeat;
    background-size: cover;

}
.header2
{
    min-height: 90%;
	min-width:  90%;
	margin: auto;
	background-position: relative;
	background-image: url("images/flowers2.jpeg");
	background-image: linear-gradient(rgba(4, 9, 30, 0.7)); /* when not given image not displayed*/
	background-repeat: no-repeat;
    background-size: cover;
text-decoration: underline;
text-decoration-color: lightgoldenrodyellow;
}

#contact1 {
  top: 20px;
  background-color: #F1C40F;
  text-color: floralwhite;


}
-------------------------------
#mySidenav a {
  position: absolute;
  left: -660px;
  transition: 0.3s;
  padding: 9px;
  width: 90px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: none;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #04AA6D;
}

#blog {
  top: 80px;
  background-color: #2196F3;
}

#projects {
  top: 40px;
  background-color: #f44336;
}

#contact {
  top: 20px;
  background-color: #2196F3
}

  
---------------------------------------------------------------------------------
/*links on 2nd pg for other pages.*/
.dropbtn {
  background-color: wheat;
  /*color: white;*/
  padding: 1px 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;  /*  displays the  list vertically*/
}

.dropdown {
  position: absolute;
  display: inline-flex; /*  displays the  list vertically*/

  }

.dropdown-content {
  display: inline-flex;  /*  displays the  list vertically*/
  position: relative;
  right:0%;
  background-color:  #fff;
  min-width: 100px;
  box-shadow: none;
  z-index: 1;
 
}

.dropdown-content a {
  color: black;/* color of drop down list items */
  padding: 2px 3px; /* outter shape to drop down button*/
  text-decoration: none;
  display: inline-flex; /* displays the  list vertically*/
  border-radius: 12px;
   background-color:  #ffb3b3;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: inline-flex;/* displays the  list vertically */
  background-color:  #ffb3b3;
}

.dropdown:hover .dropbtn {
  
}
----------------------------------------------------------------------------------
//* scroll box for texts using overflow on 3rd page*/


.div1{   /*the first container holder on the third page*/

  width: 100%;
  height: 100%;
   overflow-x: hidden;
   overflow-y: scroll;     /* for scroll bar*/
   padding-left: 50px;
   padding-right: 50px;  /* padding for proper margin within containers */
   padding-top: 50px;
   padding-bottom: 50px;
   background-color:  #f4e1d2; 
   border-radius: 50px;   
  
}
.division{  /* the inside container containg scroll column*/
	width: 100%;
    height: 100%;
	overflow-x: hidden;
   overflow-y: scroll;     /* for scroll bar*/
   padding-left: 50px;
   padding-right: 50px;  /* padding for proper margin within containers */
   padding-top: 150px;
   padding-bottom: 50px;
   background-color:  #f4e1d2; 
   border-radius: 50px;   
}

.division1{  /* the inside container containg scroll column*/
	width: 100%;
    height: 100%;
	overflow-x: hidden;
   overflow-y: hidden;     /* for scroll bar*/
   background-image: url("images/pics.png"); 
   background-image: linear-gradient(rgba(4, 9, 30, 0.7));
   border-radius: 20px;   
}
--------------------------------------------------------
/* to make link box same for all screens*/

@media screen and (max-width: 400px)
{
 	      .dropbtn,
 	      .dropdown, 
          .dropdown-content,
          .nav-logo,
           .home, 
           .header,
           .header1,
           .div1, 
           .division
           {
           	width:cover;        
 }  
 }  
---------------------------------------------

.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}



--------------------------------------------------

---------------------------------------------not included list -------------------------
 /* navigation on the second page of the website */
.headernav
{
	min-height: 100%;
	width:  80%;
	margin: auto;
	background-position : center;
	background-repeat: no-repeat;
    background-size: 100%;
	text align: right;
		
}
.nav{
	  
	  padding: 2% 6%;
	  justify-content: space-between;
	  align-items: right;
} 

.nav-links{
		   
	     list-style-position: inline;
	     position: center;
	     
}
.nav-links ul li{
	      list-style-type: none;
	      list-style-position: right;
	      display: inline-block;
	      padding: 8px 12px;
	      position: relative ;
}

.nav-links ul li a {
           color: #fff;
           text-decoration: none;
           font-size:  15px;
           font-weight: 100px;
       }
.nav-links ul li::after {
            content: "";
            width: 5%;
            height:  2px;
            background:#f44336;
            display: block;
          
            transition: 0.10s;
}

.nav-links ul li:hover::after{
	        width: 60%;

}

.nav-logo {
	        flex: 1.5;
	        
	        position: center;
	        padding-top: 15%;
	        height: 100px;
	        width:  100px;
          }
 
 
         {
 	      .nav-links ul li{
 	           	display: block;
 	            }
 	      .nav-links {
				position:relative; 
				background: #f44336;
				height: 100vh;
				width: 200px;
				top: 0;	
				left: 0;
				text-align: right;
                     }  
          .nav-logo{
          	    position:absolute; 
			    height: 300vh;
				width: 200px;
				top: 0;	
				right: 0;
				text-align: right; 
				transition: width 2s, height 2s, transform 2s;
                   }               
 }
------------------------------------------------------------------------------------------
/* Create the parallax scrolling effect */
.parallax {
  /* The image used */
  background-image: url("images/flowers.jpeg");


  /* Set a specific height */
  min-height: 100px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
